.btn-primary {
  background-color: #047751;
  border: none;
  border-radius: 30px;
}

.btn-primary:hover {
  background-color: #047751;
}

body {
  background-color: #fcfcfc;

 
}

.container{
  height: 100% !important;
}

.form-control:focus {
  border-color: #047751;
  box-shadow: 4px #047751;
  outline: 0 none;
}

.navbar {
  background-color: #fff;
  color: #111;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
  height: 80px;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-brand {
  font-size: 26px;
  font-weight: bold;
}

.not-found {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: rgb(4, 119, 81);
}

.btn-danger {
  border-radius: 25px;
}